body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
  margin: auto;
  width: 100%;
  border: 1px solid #000000;
  border-radius: 2%;
  background-color: aliceblue;
  box-sizing: border-box;
}

.hidden {
  display: none;
}
